.calculadora{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: darkgreen;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    font-size: 2rem;
    background-image: linear-gradient( rgb(0, 127, 0), rgb(0, 100, 0));
    border: 3px solid #000000;
    border-radius: 4px;
    padding: 20px;
}/*Fechamento calculadora*/

.tela{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 3rem;
    width: 93%;
    height: 80px;
    margin-bottom: 20px;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 4px;
    background-color:rgb(154, 154, 154);
    color:rgb(0, 0, 0);
}/*Fechamento tela*/

.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}/*Fechamento linha*/

.operadores{
    background-color: #6e6e6e;
    color:rgb(25, 25, 25);
}/*Fechamento operadores*/

.deletar{
    background-color: #ae9d03;
    color: rgb(46, 45, 45);
    width: 295px;
}

.outros{
    background-color:#ae9d03;
    color: rgb(46, 45, 45);
}/*Fechamento outros*/

button{
    font-size: 2rem;
    width: 70px;
    height: 70px;
    margin-right: 5px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
}/*Fechamento button*/

button:last-child{
    margin-right: 0;
}

button:hover{
    background-color: rgb(0, 161, 0);
    color:rgb(46, 45, 45);
}
